<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">App Inventario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="http://localhost:8080/">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center">
    <div>

        <h1 th:unless="${producto.id == null}">Editar producto</h1>
    </div>

    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post"
          style="max-width:600px; margin:0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${producto.id}">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Nombre:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nombre}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Precio:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{precio}" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Seleccione una categoría:</label>
                <div class="col-sm-8">
                    <select th:field="*{categoria}" class="form-control" required>
                        <th:block th:each="categoria : ${listaCategorias}">
                            <option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <!--Si no es nulo, cargamos los detalles -->
            <th:block  th:each="detalle, status : ${producto.listaDetalles}">
                <input type="hidden" name="detallesId" th:value="${detalle.id}">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" th:text="'Detalle #' + ${status.index + 1} + ':'" ></label>
                    <div class="col-sm-4">
                        <input type="text" name="detallesNombre" th:value="${detalle.nombre}" class="form-control" required>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="detallesValor" th:value="${detalle.valor}" class="form-control" required>
                    </div>
                </div>
            </th:block>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
</body>
</html>
