<!DOCTYPE html>
<html lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Aplicacion Inventario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">App Inventario</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       href="file:///C:/Users/usuario/Documents/Microservicios/Aplicacion_Inventario/src/main/resources/templates/index.html">Inicio</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center">
    <div>
        <h1>Bienvenido a la aplicación de inventario</h1>
    </div>
    <div class="p-2">
        <a class="h2" href="categorias">Lista de categorias</a>
    </div>
    <div class="p-2">
        <a class="h2" href="categorias/nuevo">Agregar categoria</a>
    </div>
    <div class="p-2">
        <a class="h2" href="productos">Lista de productos</a>
    </div>
    <div class="p-2">
        <a class="h2" href="productos/nuevo">Agregar producto</a>
    </div>
    <div class="p-2">
        <a class="h2" href="marcas">Lista de marcas</a>
    </div>
    <div class="p-2">
        <a class="h2" href="marcas/nueva">Agregar marca</a>
    </div>
    <div class="p-2">
        <a class="h2" href="usuarios">Lista de usuarios</a>
    </div>
    <div class="p-2">
        <a class="h2" href="usuarios/nuevo">Agregar usuarios</a>
    </div>
</div>
</body>
</html>